<link rel="stylesheet" href="/public/style.css">


<h1>Test yourself</h1>

<h3>How do say : <% colonne.word%></h3>     

<form action="/addword" method="POST">
  <label>Your answer</label>
  <input name="word_enter" />
  <input type="submit" />
</form>


<a href="/vocabulary_page/">Lien vers écran vocabulaire</a>
